<div class="container">
    <div class="monster" id="new-monster">
        <%= @monster.name %>
    </div>
    <div class="options">
        <%= button_to "Atacar", data: { user: @user.id, monster: @monster.id }, action: "attack" , remote: true %>
        <%= @user.name%>
    </div>
</div>